<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IMovieLiraryProvider" type ="MoviesLibrary.Interface.IMovieLibraryProvider, MoviesLibrary.Interface"> </alias>
    <alias alias="MoviesLibraryDataProvider" type ="MoviesLibrary.Provider.MoviesLibraryDataProvider, MoviesLibrary.Provider"> </alias>
    <container>
      <register type="IMovieLiraryProvider" mapTo ="MoviesLibraryDataProvider"></register>
    </container>
    
  </unity>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value=".\\App_Data\\MoviesLibrary" />
			<appendToFile value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="-yyyyMMdd'.log'" />
			<param name="StaticLogFileName" value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<priority value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>
